# Copyright 2022 VMware, Inc.
# SPDX-License-Identifier: BSD-2-Clause

---
platform: linux

params:
  CSP_API_TOKEN: ((marketplace_api_token))
  MARKETPLACE_ENV:
  PRODUCT_SLUG:
  MKPCLI_DEBUG: true
  MKPCLI_DEBUG_REQUEST_PAYLOADS: true

inputs:
  - name: previous
  - name: version

run:
  path: bash
  args:
    - -exc
    - |
      export VERSION=$(cat version/version)
      echo "OSL for ${PRODUCT_SLUG} ${VERSION}" > "osl-${VERSION}.txt"

      mkpcli product set --product "${PRODUCT_SLUG}" --product-version "${VERSION}" --osl-file "osl-${VERSION}.txt"

      # Validate that the OSL was properly updated
      OSL_URL=$(mkpcli product get --product "${PRODUCT_SLUG}" --output json | jq -r .opensourcedisclosure.licensedisclosureurl)
      OSL_CONTENT=$(curl "${OSL_URL}")
      test "${OSL_CONTENT}" == "OSL for ${PRODUCT_SLUG} ${VERSION}"

      # Validate that the OSL URL didn't change for previous versions
      PREVIOUS_OSL_URL=$(mkpcli product get --product "${PRODUCT_SLUG}" --product-version "$(cat previous/version)" --output json | jq -r .opensourcedisclosure.licensedisclosureurl)
      test "${OSL_URL}" != "${PREVIOUS_OSL_URL}"

      # Validate that the OSL content didn't change for previous versions
      PREVIOUS_OSL_CONTENT=$(curl "${PREVIOUS_OSL_URL}")
      test "${OSL_CONTENT}" != "${PREVIOUS_OSL_CONTENT}"
