# Copyright 2022 VMware, Inc.
# SPDX-License-Identifier: BSD-2-Clause

---
platform: linux

params:
  CSP_API_TOKEN: ((marketplace_api_token))
  MARKETPLACE_ENV:
  PRODUCT_SLUG:
  MKPCLI_DEBUG: true
  MKPCLI_DEBUG_REQUEST_PAYLOADS: true

inputs:
  - name: version
  - name: chart

run:
  path: bash
  args:
    - -exc
    - |
      set -ex
      VERSION=$(cat version/version)

      # Upload a chart
      mkpcli attach chart --product "${PRODUCT_SLUG}" --product-version "${VERSION}" --create-version \
        --chart chart/*.tgz --instructions "helm install it"

      # Get the list of charts
      mkpcli chart list --product "${PRODUCT_SLUG}" --product-version "${VERSION}" | grep -v "Total count: 0"
