# Copyright 2021 VMware, Inc.
# SPDX-License-Identifier: BSD-2-Clause

---
platform: linux

params:
  CSP_API_TOKEN: ((marketplace_api_token))
  MARKETPLACE_ENV:
  PRODUCT_SLUG:

inputs:
  - name: version
  - name: vm

run:
  path: bash
  args:
    - -exc
    - |
      set -ex
      VERSION=$(cat version/version)
      VM_FILE=$(find vm -type f -name '*.iso' -or -name '*.ova')

      # Get the list of virtual machine files
      mkpcli vm list --debug --debug-request-payloads \
        --product "${PRODUCT_SLUG}" --product-version "${VERSION}"

      # Attach a virtual machine file
      mkpcli vm attach --debug --debug-request-payloads \
        --product "${PRODUCT_SLUG}" --product-version "${VERSION}" \
        --file "${VM_FILE}"

      # Get the list of virtual machine files
      mkpcli vm list --debug --debug-request-payloads \
        --product "${PRODUCT_SLUG}" --product-version "${VERSION}" | grep -v "Total count: 0"
